@model FilmWeb.Controllers.Class1

@{
    ViewData["Title"] = "EditFilm";
    Layout = "~/Views/Shared/FilmLayout.cshtml";
}
<div class="container">
    <form method="post">

        <label>ID</label>
        @Html.TextAreaFor(x => x.ID, new { @class = "form-control" })
        <br />
        <label>Name</label>
        @Html.TextAreaFor(x => x.Name, new { @class = "form-control" })
        <br />
        <label>Genre</label>
        @Html.TextAreaFor(x => x.Genre, new { @class = "form-control" })
        <br />
        <label>Director</label>
        @Html.TextAreaFor(x => x.Director, new { @class = "form-control" })
        <br />
        <label>Year</label>
        @Html.TextAreaFor(x => x.Year, new { @class = "form-control" })
        <br />
        <button type="submit" class="btn btn-success"> Güncelle</button>
    </form>
</div>



