@using FilmWeb.Controllers
@model List<Class1>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/FilmLayout.cshtml";
}
<html>
<body>
    <div class="container">
        @*<div class="card my-2">
            <div class="card-body">
                <form method="get" id="filter">
                    <div class="form-group">
                        <input name="name" class="form-control" placeholder="Metin">
                    </div>
                    <div class="form-group">
                        <input name="year" class="form-control" placeholder="Yıl">
                    </div>
                    <button class="btn btn-primary">Filtre</button>
                </form>
            </div>
        </div>*@
        <table class="table-bordered" style="padding-left: 50px;">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Genre</th>
                <th>Director</th>
                <th>Year</th>
                <th>Sil</th>
                <th>Düzenle</th>


            </tr>
            @foreach (var item in Model)
            {
                <tr>

                    <td style="width:10%">@item.ID</td>
                    <td style="width:20%">@item.Name</td>
                    <td style="width:20%">@item.Genre</td>
                    <td style="width:20%">@item.Director</td>
                    <td style="width:20%">@item.Year</td>
                    <td style="width:50%"><a href="/FilmWeb/DeleteFilm/@item.ID" class="btn btn-danger">Film Sil</a> </td>

                    <td style="width:50%"><a href="/FilmWeb/EditFilm/@item.ID" class="btn btn-warning">Film Düzenle</a> </td>
                </tr>

            }
        </table>

        </br>
        <a href="/FilmWeb/CreateFilm/" class="btn btn-primary">Film Ekle</a>

        </br>
    </div>

@*<script>
    jQuery(document).ready(function ($) {
        $("#filter").submit(function () {
            $(this).find("input").filter(function () { return !this.value; }).attr("disabled", "disabled");
            return true;
        });
        $("form").find(":input").prop("disabled", false);
    });
</script>*@
</body>
</html>
